<!DOCTYPE html>
<html>
<head>
    <title>浪晋的测试小讲堂</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<!-- header -->
<div class="headers">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top " style="height: 55px;">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#" style="padding-left: 5%;padding-top: 1px;">
            <img src="/images/logo.jfif" class="rounded" alt="logo" style="width:25px;"></img>
            <a class="logo_title" style="color: rgba(255, 255, 255, 0.75);">浪晋的测试小讲堂</a>
        </a>
        <div class="collapse navbar-collapse justify-content-end" style="padding-right: 5%;">
            <ul class="navbar-nav " style="font-size: 15px;">
                <li class="nav-item">
                    <a class="nav-link " href="#" >首页</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#zhishitixi">知识体系</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="#zhiyefazhan">职业发展</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kechengxuxi">课程学习</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#jiuyeqianjing">就业前景</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#guanyuwomen">关于我们</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">登陆</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">注册</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- body -->
<div class="body" style="">
    <!-- 轮播图 -->
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators"></ul>
        <!-- 轮播图片 -->
        <div class="carousel-inner"></div>
        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- 内容框 -->
    <div id="content" class="container content">
        <!-- 知识体系 -->
        <div id="zhishitixi" class="zhishitixi">
            <div class="zhishitixi_div1">知识体系</div>
            <div class="row zhishitixi_div2">
                <div class="col" >
                    <a href="#" class="card zhishitixi_div2_div_a">
                        <img class="card-img-top" src="/images/a66df342-0de2-42ef-97f7-59baf80c3647.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p" >初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
                <div class="col" >
                    <a href="#" class="card zhishitixi_div2_div_a">
                        <img class="card-img-top" src="/images/574bd3c5-ada3-424c-a01e-e0dbc5c8e8ec.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p">初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
                <div class="col" >
                    <a href="#" class="card zhishitixi_div2_div_a">
                        <img class="card-img-top" src="/images/465454f3-fe4f-467d-a0fa-92790346f748.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p">初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
                <div class="col" >
                    <a href="#" class="card zhishitixi_div2_div_a">
                        <img class="card-img-top" src="/images/a7f094b8-cd4d-4708-9396-abf4d755b1d1.jpeg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title zhishitixi_div2_div_a_h4" >软件测试基础</h4>
                            <p class="card-text zhishitixi_div2_div_a_p">初级  |  10节课  </p>
                        </div>
                    </a>    
                </div>
            </div>
        </div>

        <!-- 职业发展 -->
        <div id="zhiyefazhan" class="zhiyefazhan">
            <div class="zhiyefazhan_div1">职业发展
                <a href="#" class="zhiyefazhan_div1_more">更多职业发展&nbsp;&gt;&gt;</a>
            </div>
            <div class="row zhiyefazhan_div2" >
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
                <div class="col" >
                    <a href="#" class="card zhiyefazhan_div2_div_a">
                        <img src="/images/zhiyefazhanbq.png" class="zhiyefazhan_div2_div_a_img1"></img>
                        <img src="/images/6227c34f-5efd-4df2-911d-91654cb0691c.png"  alt="Card image" class="zhiyefazhan_div2_div_a_img2">
                        <span class="zhiyefazhan_div2_div_a_span">测试工程师</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- 学习课程 -->
       <div id="kechengxuxi" class="xuexikecheng">
            <div class="xuexikecheng_div1">课程介绍
                <a href="#" class="xuexikecheng_div1_more">更多课程介绍&nbsp;&gt;&gt;</a>
            </div>
            <div class="row xuexikecheng_div2">
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/python.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试理论</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/c.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试设计</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/Android.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试实战</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/ios.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试工具</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/c.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">自动化测试</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/python.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">性能测试</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/python.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试理论</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/c.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试设计</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/Android.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试实战</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/ios.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">测试工具</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/c.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">自动化测试</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
                <div class="col">
                    <a href="#" class="card xuexikecheng_div2_div_a">
                        <img src="/images/python.png" alt="Card image" class="xuexikecheng_div2_div_a_img" >
                        <span class="xuexikecheng_div2_div_a_span1">性能测试</span>
                        <span class="xuexikecheng_div2_div_a_span2">13节课</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- 就业前景 -->
        <div id="jiuyeqianjing" class="jiuyeqianjing">
            <div class="jiuyeqianjing_div1">就业前景</div>
            <div id="demo1" class="carousel slide jiuyeqianjing_div2" data-ride="carousel">
                <div class="carousel-inner" style="width: 970px;">

                    <!-- 外循环第一排 -->
                    <div class="carousel-item active">
                        <div class="row">
                            <!-- 内循环我 -->
                            <div class="col jiuyeqianjing_div2_div_div_div_div">
                                <a href="#" class="card jiuyeqianjing_div2_div_div_div_div_card">
                                    <i class="jiuyeqianjing_div2_div_div_div_div_card_i">学员故事</i>
                                    <p class="jiuyeqianjing_div2_div_div_div_div_card_p">
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                    </p>
                                    <div class="jiuyeqianjing_div2_div_div_div_div_card_div">
                                        <img src="/images/python.png" class="jiuyeqianjing_div2_div_div_div_div_div_img" style="width: 50px;height: 50px;"></img>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div">张某某</div>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div2" style="padding-left: 80px;color: #999;font-size: 12px;">第三期优秀学员</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col jiuyeqianjing_div2_div_div_div_div">
                                <a href="#" class="card jiuyeqianjing_div2_div_div_div_div_card">
                                    <i class="jiuyeqianjing_div2_div_div_div_div_card_i">学员故事</i>
                                    <p class="jiuyeqianjing_div2_div_div_div_div_card_p">
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                    </p>
                                    <div class="jiuyeqianjing_div2_div_div_div_div_card_div">
                                        <img src="/images/python.png" class="jiuyeqianjing_div2_div_div_div_div_div_img" style="width: 50px;height: 50px;"></img>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div">张某某</div>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div2" style="padding-left: 80px;color: #999;font-size: 12px;">第三期优秀学员</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col jiuyeqianjing_div2_div_div_div_div">
                                <a href="#" class="card jiuyeqianjing_div2_div_div_div_div_card">
                                    <i class="jiuyeqianjing_div2_div_div_div_div_card_i">学员故事</i>
                                    <p class="jiuyeqianjing_div2_div_div_div_div_card_p">
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                    </p>
                                    <div class="jiuyeqianjing_div2_div_div_div_div_card_div">
                                        <img src="/images/python.png" class="jiuyeqianjing_div2_div_div_div_div_div_img" style="width: 50px;height: 50px;"></img>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div">张某某</div>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div2" style="padding-left: 80px;color: #999;font-size: 12px;">第三期优秀学员</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 外循环第二排 -->
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col jiuyeqianjing_div2_div_div_div_div">
                                <a href="#" class="card jiuyeqianjing_div2_div_div_div_div_card">
                                    <i class="jiuyeqianjing_div2_div_div_div_div_card_i">学员故事</i>
                                    <p class="jiuyeqianjing_div2_div_div_div_div_card_p">
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                    </p>
                                    <div class="jiuyeqianjing_div2_div_div_div_div_card_div">
                                        <img src="/images/python.png" class="jiuyeqianjing_div2_div_div_div_div_div_img" style="width: 50px;height: 50px;"></img>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div">张某某</div>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div2" style="padding-left: 80px;color: #999;font-size: 12px;">第三期优秀学员</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col jiuyeqianjing_div2_div_div_div_div">
                                <a href="#" class="card jiuyeqianjing_div2_div_div_div_div_card">
                                    <i class="jiuyeqianjing_div2_div_div_div_div_card_i">学员故事</i>
                                    <p class="jiuyeqianjing_div2_div_div_div_div_card_p">
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                    </p>
                                    <div class="jiuyeqianjing_div2_div_div_div_div_card_div">
                                        <img src="/images/python.png" class="jiuyeqianjing_div2_div_div_div_div_div_img" style="width: 50px;height: 50px;"></img>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div">张某某</div>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div2" style="padding-left: 80px;color: #999;font-size: 12px;">第三期优秀学员</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col jiuyeqianjing_div2_div_div_div_div">
                                <a href="#" class="card jiuyeqianjing_div2_div_div_div_div_card">
                                    <i class="jiuyeqianjing_div2_div_div_div_div_card_i">学员故事</i>
                                    <p class="jiuyeqianjing_div2_div_div_div_div_card_p">
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                        这是测试的内容，大家不要方！
                                    </p>
                                    <div class="jiuyeqianjing_div2_div_div_div_div_card_div">
                                        <img src="/images/python.png" class="jiuyeqianjing_div2_div_div_div_div_div_img" style="width: 50px;height: 50px;"></img>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div">张某某</div>
                                        <div class="jiuyeqianjing_div2_div_div_div_div_div_div2" style="padding-left: 80px;color: #999;font-size: 12px;">第三期优秀学员</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- 左右切换按钮 -->
                    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                        <span class="carousel-control-prev-icon text-dark"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                    
                </div>
            </div>
        </div>

        <!-- 关于我们 -->
        <div id="guanyuwomen" class="guanyuwomen">
            <div class="guanyuwomen_div1">关于我们</div>
        </div>

    </div>
</div>

<!-- footer -->
<div class="footer_div">
    <footer class="footer navbar-fixed-bottom footer_body">
        <div class="footer_body_div1">
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=feaddb8cd193c436a6842211d3315bd7c25d48cd16a0ec30afacdfa46bb8b7e7"><img border="0" src="/images/qq.ico" class="footer_body_div1_qq"></a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=feaddb8cd193c436a6842211d3315bd7c25d48cd16a0ec30afacdfa46bb8b7e7"><img border="0" src="/images/weixin.ico" class="footer_body_div1_weixin"></a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=feaddb8cd193c436a6842211d3315bd7c25d48cd16a0ec30afacdfa46bb8b7e7"><img border="0" src="/images/weixin.ico" class="footer_body_div1_weixin"></a>
        </div>
        <div class="container footer_body_about">
            <a href="#" class="footer_div2_a">关于我们</a>
            <i class="footer_div2_i">|</i>
            <a href="#" class="footer_div2_a">加入我们</a>
            <i class="footer_div2_i">|</i>
            <a href="#" class="footer_div2_a">企业合作</a>
            <i class="footer_div2_i">|</i>
            <a href="#" class="footer_div2_a">帮助中心</a>
            <i class="footer_div2_i">|</i>
            <a href="#" class="footer_div2_a">友情链接</a>
        </div>
        <hr >
        <div class="footer_copyrights">
            Copyright © 2018-2019 langjintest.com All Rights Reserved. 川ICP备xxxxx号 川公网安备xxxxxx
        </div>

    </footer>

</div>

</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- 导入ajax.js -->
<script type="text/javascript" src="/js/ajax.js"></script>
</html>